
/Source/Vector/Debug/Vector.ilk
/Source/Vector/Debug/Vector.lib
/Source/Vector/Debug/VectorTest.ilk
/Source/Vector/Vector.sdf
/Source/Vector/Vector/Debug/Vector.dll.embed.manifest.res
/Source/Vector/Vector/Debug/Vector.dll.intermediate.manifest
/Source/Vector/Vector/Debug/Vector.lastbuildstate
/Source/Vector/Vector/Debug/Vector.log
/Source/Vector/Vector/Debug/vc100.idb
/Source/Vector/VectorTest/Debug/ResolveAssemblyReference.cache
/Source/Vector/VectorTest/Debug/VectorTest.exe.embed.manifest
/Source/Vector/VectorTest/Debug/VectorTest.exe.embed.manifest.res
/Source/Vector/VectorTest/Debug/VectorTest.exe.intermediate.manifest
/Source/Vector/VectorTest/Debug/VectorTest.lastbuildstate
/Source/Vector/VectorTest/Debug/VectorTest.log
/Source/Vector/VectorTest/Debug/VectorTest_manifest.rc
/Source/Vector/VectorTest/Debug/main.obj
/Source/Vector/VectorTest/Debug/vc100.idb
/Source/Vector/VectorTest/Debug/vc100.pdb
/Source/Vector/ipch/vectortest-29e2bfaa/vectortest-7be9393f.ipch
/Source/Vector/Vector/Debug/Vector.dll.embed.manifest